In [ ]:
import numpy as np

a = np.array([1,2,3,4,5])
b = np.array(['대한민국', '포르트갈', '가나', '우루과이'])
c = np.array([1,2,'대한민국', '포르투갈'])

print(a)
print(b)
print(c)  # 숫자와 문자열을 혼합할 경우, 모두 문자열로 처리

[1 2 3 4 5]
['대한민국' '포르트갈' '가나' '우루과이']
['1' '2' '대한민국' '포르투갈']

In [ ]:
import pandas as pd

s = pd.Series(['대한민국', '포르투갈', '가나', '우루과이'],
              index=['가', '나', '다', '라'],
              name="2022 카타르월드컵 H조")
print(s)

# Dictionary 형으로 선언: Index - Column
a1 = pd.DataFrame({"a":[1,2,3], "b":[4,5,6], "c":[7,8,9]})
print(a1)

# List 형으로 선언: Row - Index
a2 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]],
                  ["a", "b", "c"])
print(a2)

가    대한민국
나    포르투갈
다      가나
라    우루과이
Name: 2022 카타르월드컵 H조, dtype: object
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [6]:
# Read Data
# Dataset: https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction?resource=download
flight = pd.read_csv('./Clean_Dataset.csv', encoding="cp949")
print(flight)

flight2 = pd.read_csv('./Clean_Dataset.csv', index_col='stops', usecols=['stops', 'departure_time', 'arrival_time', 'destination_city'])
print(flight2)

pd.crosstab(index=flight.source_city, columns=flight.arrival_time)

        Unnamed: 0   airline   flight source_city departure_time stops  \
0                0  SpiceJet  SG-8709       Delhi        Evening  zero
1                1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2                2   AirAsia   I5-764       Delhi  Early_Morning  zero
3                3   Vistara   UK-995       Delhi        Morning  zero
4                4   Vistara   UK-963       Delhi        Morning  zero
...            ...       ...      ...         ...            ...   ...
300148      300148   Vistara   UK-822     Chennai        Morning   one
300149      300149   Vistara   UK-826     Chennai      Afternoon   one
300150      300150   Vistara   UK-832     Chennai  Early_Morning   one
300151      300151   Vistara   UK-828     Chennai  Early_Morning   one
300152      300152   Vistara   UK-822     Chennai        Morning   one

         arrival_time destination_city     class  duration  days_left  price
0               Night           Mumbai   Economy      2.17          1   5953
1             Morning           Mumbai   Economy      2.33          1   5953
2       Early_Morning           Mumbai   Economy      2.17          1   5956
3           Afternoon           Mumbai   Economy      2.25          1   5955
4             Morning           Mumbai   Economy      2.33          1   5955
...               ...              ...       ...       ...        ...    ...
300148        Evening        Hyderabad  Business     10.08         49  69265
300149          Night        Hyderabad  Business     10.42         49  77105
300150          Night        Hyderabad  Business     13.83         49  79099
300151        Evening        Hyderabad  Business     10.00         49  81585
300152        Evening        Hyderabad  Business     10.08         49  81585

[300153 rows x 12 columns]
      departure_time   arrival_time destination_city
stops
zero         Evening          Night           Mumbai
zero   Early_Morning        Morning           Mumbai
zero   Early_Morning  Early_Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero         Morning        Morning           Mumbai
...              ...            ...              ...
one          Morning        Evening        Hyderabad
one        Afternoon          Night        Hyderabad
one    Early_Morning          Night        Hyderabad
one    Early_Morning        Evening        Hyderabad
one          Morning        Evening        Hyderabad

[300153 rows x 3 columns]

arrival_time  Afternoon  Early_Morning  Evening  Late_Night  Morning  Night
source_city
Bangalore          6992           3154    14493        2673    10411  14338
Chennai            5152           1606    10830        1999     7106  12007
Delhi              8007           5262    14630        2143    13007  18294
Hyderabad          4816           1581    10539        2092     8854  12924
Kolkata            5941           2156    11304        2414     9595  14937
Mumbai             7231           1658    16527        2680    13762  19038